@use '../../scss/' as *;

.home-page {
    padding-top: 10rem;
    width: 100%;
    height: 185vh;
    background-image: url('../../asset/background-svg-top.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: $white;

    @include tablet {
        height: 160vh;
    }

    @include mobile {
        height: 220vh;
    }
}
