$bg-color: #f8f8f8;
$main-color: #922c88;

$txt-color: #fff;
$txt-black: #3a3a3a;

$white: #fff;
$black: #000;

$header-height: 6rem;
$header-shrink-height: 6rem;

$mobile-width: 600px;
$tablet-width: 1024px;

$font-family: 'Nunito', sans-serif;
